{{template "base" .}}

{{define "title"}}
    By one widget
{{end}}

{{define "content"}}
<h2 class="mt text-center">Buy one Widget</h2>
<hr>
<img src="/static/widget.png" alt="widget" class="image-fluid rounded mx-auto d-block"
{{end}}